
ui-gmap-google-map.map-full-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
ui-gmap-google-map,
.angular-google-map,
.angular-google-map-container {
    height: 300px;
}
ui-gmap-google-map.map-full-screen,
.map-full-screen .angular-google-map,
.map-full-screen .angular-google-map-container {
    height: 100%;
}

ul {
    padding-left: 20px;
}

.container {
    margin-bottom: 30px;
}

.map-event-list {
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 99;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    opacity: 0.85;
}
.map-event-list a.map-link {
    cursor: crosshair;
}
.map-event-list li {
    font-size: 0.9em;
}


.event-post {
    margin-bottom: 40px;
}
.event-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.event-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.div-margined {
    margin-top: 20px;
}

.narrow-hr {
    margin-top: 5px;
}
.unbold {
    font-weight: normal;
}

.pagination li a {
    cursor: pointer;
}