<nav class="navbar navbar-default" ng-controller="HeaderController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="map">Event-kartan</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/map')}">
                    <a href="map">Karta <span class="sr-only">(nuvarande)</span></a>
                </li>
                <li ng-class="{ active: isActive('/events')}">
                    <a href="events">Event</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="currentCreator != null">
                    <a href="#">{{ currentCreator != null ? currentCreator.username : '' }}</a>
                </li>
                <li>
                    <a href="{{ currentCreator != null ? 'logout' : 'login' }}">{{ currentCreator != null ? 'Logga ut' : 'Logga in' }}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>