<% content_for :title, 'Skapa en ny applikation' %>

<div id="new-item">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="col-sm-offset-2">
        <h2>Skapa ny applikation</h2>
      </div>

      <%= render partial: 'form', locals: { edit: false } %>

    </div>
  </div>

</div>
